.pull {
  display: none;
  cursor: pointer;
  background: transparent;
  border: none;
  height: 42px;
  padding: 0 0 0 12px;
  margin: 0;
  z-index: 100;
  .pull-box {
    display: inline-block;
    height: 26px;
    position: relative;
    width: 26px;
    .pull-inner {
      background-color: white;
      display: block;
      height: 3px;
      position: absolute;
      top: 50%;
      width: 26px;
      transition: all 0.2s;
      &::before {
        background-color: white;
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        width: 26px;
        top: -10px;
        transition: all 0.2s;
      }
      &::after {
        background-color: white;
        bottom: -10px;
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        transition: all 0.2s;
        width: 26px;
      }
    }
  }
  &.close {
    .pull-box {
      .pull-inner {
        background-color: black;
        height: 0;
        &:before {
          background-color: black;
          transform: rotate(-45deg) translate(-7px, 7px);
          transition: transform 0.2s;
        }
        &:after {
           background-color: black;
          transform: rotate(45deg) translate(-5px, -5px);
          transition: transform 0.2s;
        }
      }
    }
  }
}



@include desktop {
  .pull {
    display: block;
    top: 0;
    position: relative;

  }
}
@include mobile-small {
  .pull {
    top: 0;
  }
}
