.banner {
  width: 100%;
  height: 478px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-background {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.banner-content {
  place-self: center;
  width: 100%;
  max-width: 420px;
  position: relative;
  z-index: 2;
  text-align: center;
}

.banner-tag {
 color: $heroText;
}

.banner-heading {
  color: white;
}

.banner-subheading {
  color: white;
  margin: 0 0 4rem 0;
}

@include mobile {
  height: 400px;
}



