.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  background: $darkBackground;
}

.footer-logo {
  place-self: center;
  svg {
    width: 54px;
  }
}