.pull {
  cursor: pointer;
  background: transparent;
  border: none;
  height: 42px;
  padding: 0 0 0 12px;
  margin: 0;
  z-index: 101;
  .pull-box {
    display: inline-block;
    height: 26px;
    position: relative;
    width: 26px;
    .pull-inner {
      background-color: white;
      display: block;
      height: 3px;
      position: absolute;
      top: 50%;
      width: 36px;
      border-radius: 3px;
      transition: all 0.2s;
      &::before {
        background-color: white;
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        width: 26px;
        top: -10px;
        transition: all 0.2s;
         border-radius: 3px;
      }
      &::after {
        background-color: white;
        bottom: -10px;
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        transition: all 0.2s;
        width: 26px;
         border-radius: 3px;
      }
    }
  }
  &.close {
    .pull-box {
      .pull-inner {
        background-color: white;
        height: 0;
        &:before {
          background-color: white;
          transform: rotate(-45deg) translate(-5px, 5px);
          transition: transform 0.2s;
          height: 6px;
           border-radius: 0;
        }
        &:after {
           background-color: white;
          transform: rotate(45deg) translate(-5px, -5px);
          transition: transform 0.2s;
          height: 6px;
          border-radius: 0;
        }
      }
    }
  }
}


