*, html {
  box-sizing: border-box;

}

html,
body,
.site {
  width: 100%;
  min-height: 100vh;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 4rem;
  overflow-x: hidden;

  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    flex: 1;
    z-index: 1;
  }
}

.fixed {
  overflown: hidden;
  height: 100vh;
  width: 100vw;
}

.no-padding {
  padding: 0 !important;
}

.more {
  font-size: 1.4rem;
  line-height: 1.4rem;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  padding: 0 20px 0 0;
  cursor: pointer;
  font-weight: $bold;
}
.desktop {
  @include mobile-middle {
    display: none;
  }
}

.mobile-middle {
  display: none;
  @include mobile-middle {
    display: block;
  }
}

.mobile {
  display: none;
  @include mobile {
    display: block;
  }
}

#bitnami-banner {
  display: none !important;
}

.pypestream_fixedLayer {
  z-index: 8888;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-table;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}


