
@mixin desktop {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}


@mixin center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin centerX {
  left: 50%;
  transform: translate(-50%, 0);
}

@mixin centerY {
  top: 50%;
  transform: translate(0, -50%);
}

@mixin zoom($zoom, $speed) {
  transform: scale($zoom);
  transform-origin: center;
  transition: transform $speed;
}

@mixin backgroundCover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
