// Colors
$gray-lightest: #f8f8f8;
$gray-lighter: #f4f4f4;
$gray-light: #DADBDB;
$gray: #666666;
$green: #01fdab;
$blue: #317ff3;

$heroText: #01FDAB;
$contentText: #081523;
$whitePanelText: #0262F0;
$darkBackground: #010203;
$heroBackgroundTop: #091523;
$heroBackgroundBottom: #0E253F;

// Typography
$montserrat: 'Montserrat', sans-serif;
$cousine: 'Cousine', sans-serif;

//Font weights
$regular: 400;
$medium: 500;
$bold: 600;
$extra: 700;

// Containers
$max-width-wide: 1500px;
$max-width: 1350px;



// Devices
$desktop-width: 1180px;
$tablet-width: 768px;
$mobile-width: 576px;
